
{% block title %}Lister les cartes{% endblock %}

{% block body %}

    {% for card in cards %}
        <p>{{ card.cardname }}
            {{ card.attackpoints }}
            {{ card.manacost }}
        </p>
    {% endfor %}

{% endblock %}